* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000; /* Black background */
    color: white; /* White font */
    line-height: 1.6;
}

header {
    background-color: #000; /* Black header */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid green; /* Green border between sections */
}

.header-text {
    text-align: left;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

section {
    padding: 20px;
    border-bottom: 2px solid green; /* Green border for sections */
}

h1, h2 {
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 10px;
    font-size: 24px;
    color: green; /* Green heading */
}

a {
    color: green; /* Green links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Style for the list items */
ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding: 5px 0;
}
